<!--id="content"-->
<div id="content">
    <table>
        <tr>
            <th>编号</th>
            <th>用户名</th>

        </tr>
        <tr ng-repeat="person in persons">
            <td>{{perosn.id}}</td>
            <td>{{person.userName}}</td>
            <td>
                <button ng-click="remove(person.id)">Remove</button>
            </td>
        </tr>
    </table>


    <!--<form method="POST" action="/web/add" name="addPerson">-->
        <!--<br/><br/><br/><br/><br/>-->
        <!--<p>姓名 :<input type="text" name="name" value="<c:out value="${name}" />"/></p>-->
        <!--<p>职位 :<select name="department">-->
            <!--<option value="Coach">Coach</option>-->
            <!--<option value="HR">HR</option>-->
            <!--<option value="OPs">OPs</option>-->
        <!--</select></p>-->
        <!--<p>用户名 : <input type="text" name="userName" value="<c:out value="${userName}" />"/></p>-->
        <!--<p>密码 : <input type="password" name="password" value="<c:out value="${password}" />"/></p>-->
        <!--<input type="submit" value="提交"/>-->
    <!--</form>-->
</div>
